<div class="container actions-container">
  <div class="input-group">
    <input type="search" class="form-control rounded-pill shadow" placeholder="Пошук..." [(ngModel)]="searchQuery" (keyup)="fetchWorks()">
    <button (click)="onSorting()" class="btn btn-light rounded-pill shadow">
      Сортувати
      @if (sortingOrder === 'asc') {
        <i class="bi bi-sort-alpha-down"></i>
      } @else {
        <i class="bi bi-sort-alpha-up"></i>
      }
    </button>
  </div>
</div>

<div class="container page-container">
  <div class="card shadow">
    <div class="card-body">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/">Головна</a>
          </li>
          <li class="breadcrumb-item">
            Серії
          </li>
        </ol>
      </nav>

      @if (seriesList().length) {
        <table class="table table-striped table-bordered">
          <tbody>
            @for (series of seriesList(); track $index) {
              <tr>
                <td>
                  <a href="#">{{ series.title }}</a>
                </td>
              </tr>
            }
          </tbody>
        </table>
      } @else {
        <app-no-results></app-no-results>
      }
    </div>
  </div>
</div>
