header {
  padding: 20px 0;

  .actions-block {
    svg {
      width: 24px;
      height: 24px;
      cursor: pointer;
      margin-left: 12px;
    }
  }
}

.no-result {
  padding-top: 20px;
  font-size: 16px;
}

.filters-wrapper {
  margin-top: 20px;

  label {
    padding-left: 4px;
    margin-right: 16px;
  }
}
