header {
  padding: 20px 0;

  .actions-block {
    svg {
      width: 32px;
      height: 32px;
      cursor: pointer;
      margin-left: 12px;
    }
  }
}

.no-result {
  padding-top: 20px;
  font-size: 16px;
}

.filters-wrapper {
  margin-top: 20px;

  img {
    width: 32px;
    cursor: pointer;
  }
}
