<header class="text-bg-dark user-select-none">
  <div class="container">
    <div class="d-flex align-items-center justify-content-between">
      <div>
        <img src="favicon-32x32.png" alt=""/>
        <span>Книгосховище</span>
      </div>
      <div>
        <input type="search" class="form-control" placeholder="Пошук...">
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="books-wrapper row">
    @for (book of bookStorage.books; track $index) {
      <app-book-card
        class="book col-4 col-md-3 col-lg-2"
        [book]="book">
      </app-book-card>
    }

    @for (book of bookStorage.books; track $index) {
      <app-book-card
        class="book col-4 col-md-3 col-lg-2"
        [book]="book">
      </app-book-card>
    }

    @for (book of bookStorage.books; track $index) {
      <app-book-card
        class="book col-4 col-md-3 col-lg-2"
        [book]="book">
      </app-book-card>
    }
  </div>
</div>
