@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

header {
  padding: 20px 0;

  img {
    padding-right: 10px;
  }
}

//.book {
//  border: 1px solid white;
//}
//
//@include media-breakpoint-up(sm) {
//  .book {
//    border: 1px solid yellow;
//  }
//}
//
//@include media-breakpoint-up(md) {
//  .book {
//    border: 1px solid green;
//  }
//}
//
//@include media-breakpoint-up(lg) {
//  .book {
//    border: 1px solid blue;
//  }
//}
//
//@include media-breakpoint-up(xl) {
//  .book {
//    border: 1px solid magenta;
//  }
//}
//
//@include media-breakpoint-up(xxl) {
//  .book {
//    border: 1px solid red;
//  }
//}
