<header class="text-bg-dark user-select-none sticky-top">
  <div class="container">
    <div class="d-flex align-items-center justify-content-between">
      <div>
        <img src="favicon-32x32.png" alt=""/>
        <span>Книгосховище</span>
      </div>
      <div>
        <div class="input-group">
          <input type="search" class="form-control" placeholder="Пошук..." [(ngModel)]="searchText" (keyup.enter)="onSearch()">
          <button class="btn btn-outline-secondary" type="button" (click)="onSearch()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="books-wrapper row">
    @for (book of booksList; track $index) {
      <app-book-card
        class="book col-4 col-md-3 col-lg-2"
        [book]="book">
      </app-book-card>
    }

    @if (!booksList.length) {
      <div class="no-result text-center fw-bold">Нічого не знайдено :(</div>
    }
  </div>
</div>
