<div class="sticky-top1">
  <div class="container actions-container">
    <div class="input-group">
      <input type="text" class="form-control rounded-pill shadow" placeholder="Пошук..." [(ngModel)]="searchQuery" (keyup)="onSearchKeyup()">
    </div>
  </div>

  <div class="container actions-container text-end">
    <button (click)="onSorting()" class="btn btn-light rounded-pill shadow">
      Сортувати
      @if (sortingOrder === 'asc') {
        <i class="bi bi-sort-alpha-down"></i>
      } @else {
        <i class="bi bi-sort-alpha-up"></i>
      }
    </button>
    <button (click)="openFilters(offcanvas)" class="btn btn-light rounded-pill shadow">
      Фільтри
      <i class="bi bi-sliders2"></i>
    </button>
  </div>
</div>

<div class="container page-container">
  <div class="card shadow">
    <div class="card-body">
      @if (booksList().length) {
        <div class="row">
          @for (book of booksList(); track $index) {
            <app-book-card
              class="col-4 col-md-3 col-lg-2"
              (click)="openModal(book, modal)"
              [book]="book">
            </app-book-card>
          }
        </div>
      } @else {
        <app-no-results></app-no-results>
      }
    </div>
  </div>
</div>

<ng-template #offcanvas let-offcanvas>
  <div class="offcanvas-body">
    <div class="d-flex justify-content-end">
      <button class="btn btn-light rounded-pill" (click)="offcanvas.dismiss()">
        Закрити
        <i class="bi bi-x-lg"></i>
      </button>
    </div>

    <div class="card card-filter shadow">
      <div class="card-body">
        <div (click)="authorFilterCollapse = !authorFilterCollapse" class="card-filter-title d-flex align-items-center justify-content-between user-select-none">
          <strong>Автори:</strong>
          @if (authorFilterCollapse) {
            <i class="bi bi-chevron-down"></i>
          } @else {
            <i class="bi bi-chevron-up"></i>
          }
        </div>

        <div class="card-filter-collapse" [(ngbCollapse)]="authorFilterCollapse">
          @for (author of authorFilterOptions; track $index) {
            <div class="form-check">
              <input class="form-check-input" type="checkbox" [id]="author.value" [(ngModel)]="author.checked" (ngModelChange)="onAuthorFilterChange()">
              <label class="form-check-label" [for]="author.value">{{ author.value }}</label>
            </div>
          }
        </div>
      </div>
    </div>

    <div class="card card-filter shadow">
      <div class="card-body">
        <div (click)="genreFilterCollapse = !genreFilterCollapse" class="card-filter-title d-flex align-items-center justify-content-between user-select-none">
          <strong>Жанри:</strong>
          @if (genreFilterCollapse) {
            <i class="bi bi-chevron-down"></i>
          } @else {
            <i class="bi bi-chevron-up"></i>
          }
        </div>

        <div class="card-filter-collapse" [(ngbCollapse)]="genreFilterCollapse">
          @for (genre of genreFilterOptions; track $index) {
            <div class="form-check">
              <input class="form-check-input" type="checkbox" [id]="genre.value" [(ngModel)]="genre.checked" (ngModelChange)="onGenreFilterChange()">
              <label class="form-check-label" [for]="genre.value">{{ genre.value }}</label>
            </div>
          }
        </div>
      </div>
    </div>

    <div class="card card-filter shadow">
      <div class="card-body">
        <div (click)="seriesFilterCollapse = !seriesFilterCollapse" class="card-filter-title d-flex align-items-center justify-content-between user-select-none">
          <strong>Серії:</strong>
          @if (seriesFilterCollapse) {
            <i class="bi bi-chevron-down"></i>
          } @else {
            <i class="bi bi-chevron-up"></i>
          }
        </div>

        <div class="card-filter-collapse" [(ngbCollapse)]="seriesFilterCollapse">
          @for (series of seriesFilterOptions; track $index) {
            <div class="form-check">
              <input class="form-check-input" type="checkbox" [id]="series.value" [(ngModel)]="series.checked" (ngModelChange)="onSeriesFilterChange()">
              <label class="form-check-label" [for]="series.value">{{ series.value }}</label>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body" ngbAutofocus tabindex="-1">
    <div class="row">
      <div class="col-4 col-md-4 col-lg-2">
        <!--suppress AngularNgOptimizedImage -->
        <img class="shadow-lg" src="covers/{{ modalBook?.cover }}" />
      </div>
      <div class="col-8 col-md-8 col-lg-10">
        <h3>{{ modalBook?.title }}</h3>
        <div class="authors-wrapper">
          @for (author of modalBook?.authors; track $index) {
            <a [routerLink]="['/authors', author]">{{ author }}</a>
            @if (!$last) {, }
          }
        </div>
        <div class="genres-wrapper">
          @for (genre of modalBook?.genres; track $index) {
            <span class="badge text-bg-primary user-select-none">{{ genre }}</span>
          }
        </div>
      </div>
    </div>

    <div ngbAccordion>
      @if (modalBook?.works?.length) {
        <div ngbAccordionItem>
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton>Зміст</button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <ng-template>
                @for (item of modalBook?.works; track $index) {
                  <div>
                    <span>{{ item.title }}</span> (@for (author of item.authors; track $index) {
                    <a href="#">{{ author }}</a>
                    @if (!$last) {, }
                  })
                  </div>
                }
              </ng-template>
            </div>
          </div>
        </div>
      }

      @if (modalBook?.series) {
        <div ngbAccordionItem>
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton>Серія</button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <ng-template>
                <div>
                  {{ modalBook?.series }}
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      }

      <div ngbAccordionItem [collapsed]="false">
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>Опис</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <div class="description-container">
                @for (p of modalBook?.blurp; track $index) {
                  <p>{{ p }}</p>
                }
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
