@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'variables';

body {
  font-family: 'Roboto', sans-serif !important;
  background-color: $gray-300;
}

.page-container {
  padding-top: 8px;
  padding-bottom: 8px;

  .card {
    border: 1px solid $gray-300;
    border-radius: $app-border-radius;
  }
}

.offcanvas-body {
  padding: 16px;
  background-color: $gray-300;
}

.actions-container {
  padding-top: 8px;
  padding-bottom: 8px;

  .input-group {
    .btn {
      margin-left: 4px !important;
    }
  }
}
