@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'variables';

.container {
  padding-top: 8px;
  padding-bottom: 8px;

  > div {
    height: $app-footer-height;
    border: 1px solid $gray-700;
    border-radius: $app-border-radius;
    background-color: $gray-700;
    color: $white;
  }
}
