<header class="text-bg-dark user-select-none sticky-top">
  <div class="container">
    <div class="d-inline-flex align-items-center actions-block" routerLink="/books">
      <!--suppress HtmlDeprecatedAttribute -->
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
      </svg>
      <span>Back</span>
    </div>
  </div>
</header>

<div class="container">
  @if (book) {
    <div class="row">
      <div class="col-4 col-md-4 col-lg-2">
        <!--suppress AngularNgOptimizedImage -->
        <img class="shadow-lg" src="covers/{{ book.coverImage }}" />
      </div>
      <div class="col-8 col-md-8 col-lg-10">
        <h3>{{ book.title }}</h3>
        <a href="#">{{ book.authors.join(', ') }}</a>
      </div>
    </div>

    <div ngbAccordion>
      @if (true) {
        <div ngbAccordionItem>
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton>Зміст</button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <ng-template>
                  @for (item of book.contents; track $index) {
                    <div class="list-group-item1">
                      <span>{{ item.title }}</span> (@for (author of item.authors; track $index) {
                        <a href="#">{{ author }}</a>
                        @if (!$last) {, }
                      })
                    </div>
                  }
              </ng-template>
            </div>
          </div>
        </div>
      }

      <div ngbAccordionItem [collapsed]="false">
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>Опис</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <div class="description-container">
                @for (p of book.description; track $index) {
                  <p>{{ p }}</p>
                }
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  } @else {
    <app-no-results></app-no-results>
  }
</div>
