header {
  padding: 20px 0;

  .actions-block {
    cursor: pointer;

    svg {
      width: 24px;
      height: 24px;
      margin-right: 4px;
    }
  }
}

.row {
  margin-top: 20px;

  img {
    width: 100%;
  }
}

.description-container {
  margin-top: 20px;
}
