.card {
  margin-top: 20px;
  cursor: pointer;

  .card-body {
    padding: 8px;

    .cover-wrapper {
      width: 100%;
      aspect-ratio: 1 / 1.5;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .metadata-wrapper {
      font-size: 12px;

      > div:nth-child(2) {
        font-size: 14px;
      }
    }
  }
}
